@{
    ViewData["Title"] = "Home Page";
}

<style>
    .HomeImage {
        position: relative;
    }

        .HomeImage img {
            overflow: hidden;
            justify-content: center;
            width: 100%;
            height: auto;
            border-radius: 2%;
        }

        .HomeImage h1 {
            position: absolute;
            top: 0.5%;
            left: 0%;
            right: 0%;
            color: white;
            font-size: 50px;
            text-shadow: 3px 3px black;
        }
</style>
<div class="text-center">
    <div class="HomeImage">
        <img src="https://c1.wallpaperflare.com/preview/190/874/404/vegetables-healthy-eating-organic.jpg    " />
        <h1>
            Борса за зеленчуци „Свежест“
        </h1>
    </div>
</div>
